<div class="gap-3 items-center hidden md:flex">
  <img
    transition:name="avatar"
    class="size-12 rounded-full border-4 border-dark-green"
    src="/avatar.jpeg"
    alt=""
  />
  <div class="flex flex-col">
    <span
      transition:name="name"
      class="font-bricolage text-dark-green font-bold">Said Cueter</span
    >
    <span
      transition:name="position"
      class="font-bricolage text-xs text-ligth-green font-light"
      >Front-end Web Developer</span
    >
  </div>
</div>
